// @import "@/app/index.scss";
$primary-color: red;
.typing-dots-loader-wrapper {
  .typing-indicator {
    width: 60px;
    height: 30px;
    position: relative;
    z-index: 4;
  }

  .typing-circle {
    width: 8px;
    height: 8px;
    position: absolute;
    border-radius: 50%;
    background-color: #000;
    left: 15%;
    transform-origin: 50%;
    animation: typing-circle7124 0.5s alternate infinite ease;
  }

  @keyframes typing-circle7124 {
    0% {
      top: 20px;
      height: 5px;
      border-radius: 50px 50px 25px 25px;
      transform: scaleX(1.7);
    }

    40% {
      height: 8px;
      border-radius: 50%;
      transform: scaleX(1);
    }

    100% {
      top: 0%;
    }
  }

  .typing-circle:nth-child(2) {
    left: 45%;
    animation-delay: 0.2s;
  }

  .typing-circle:nth-child(3) {
    left: auto;
    right: 15%;
    animation-delay: 0.3s;
  }

  .typing-shadow {
    width: 5px;
    height: 4px;
    border-radius: 50%;
    background-color: rgba(0, 0, 0, 0.2);
    position: absolute;
    top: 30px;
    transform-origin: 50%;
    z-index: 3;
    left: 15%;
    filter: blur(1px);
    animation: typing-shadow046 0.5s alternate infinite ease;
  }

  @keyframes typing-shadow046 {
    0% {
      transform: scaleX(1.5);
    }

    40% {
      transform: scaleX(1);
      opacity: 0.7;
    }

    100% {
      transform: scaleX(0.2);
      opacity: 0.4;
    }
  }

  .typing-shadow:nth-child(4) {
    left: 45%;
    animation-delay: 0.2s;
  }

  .typing-shadow:nth-child(5) {
    left: auto;
    right: 15%;
    animation-delay: 0.3s;
  }
}

.cube-loader-wrapper {
  .cube-loader {
    position: relative;
    /* u can choose any size */
    width: 55px;
    height: 55px;
    transform-style: preserve-3d;
    transform: rotateX(-30deg);
    animation: animate 4s linear infinite;
  }

  @keyframes animate {
    0% {
      transform: rotateX(-30deg) rotateY(0);
    }

    100% {
      transform: rotateX(-30deg) rotateY(360deg);
    }
  }

  .cube-loader .cube-wrapper {
    position: absolute;
    width: 100%;
    height: 100%;
    /* top: 0;
          left: 0; */
    transform-style: preserve-3d;
  }

  .cube-loader .cube-wrapper .cube-span {
    position: absolute;
    width: 100%;
    height: 100%;
    /* top: 0;
          left: 0; */
    /* width 75px / 2 = 37.5px */
    transform: rotateY(calc(90deg * var(--i))) translateZ(27.5px);
    background: linear-gradient(
      to bottom,
      hsl(0, 0%, 0%) 0%,
      hsl(0, 0%, 0%) 5.5%,
      hsl(0, 0%, 0%) 12.1%,
      hsl(0, 0%, 100%) 100%,
      hsl(0, 0%, 0%) 27.9%,
      hsl(0, 0%, 0%) 36.6%,
      hsl(0, 0%, 0%) 45.6%,
      hsl(0, 0%, 100%) 100%,
      hsl(0, 0%, 0%) 63.4%,
      hsl(0, 0%, 0%) 71.7%,
      hsl(0, 0%, 0%) 79.4%,
      hsl(0, 0%, 100%) 100%,
      hsl(0, 0%, 0%) 100%,
      hsl(0, 0%, 0%) 100%,
      hsl(0, 0%, 0%) 100%,
      hsl(0, 0%, 100%) 100%
    );
  }

  .cube-top {
    position: absolute;
    width: 55px;
    height: 55px;
    background: rgb(50, 50, 50) 0%;
    /* width 55px / 2 = 37.5px */
    transform: rotateX(90deg) translateZ(27.5px);
    transform-style: preserve-3d;
  }

  .cube-top::before {
    content: "";
    position: absolute;
    /* u can choose any size */
    width: 45px;
    height: 45px;
    background: hsl(0, 0%, 0%) 19.6%;
    transform: translateZ(-90px);
    filter: blur(10px);
    box-shadow: 0 0 10px #323232, 0 0 20px hsl(0, 0%, 100%) 19.6%,
      0 0 30px #323232, 0 0 40px hsl(0, 0%, 100%) 19.6%;
  }
}

.spinner-loader-wrapper {
  .dot-spinner {
    --uib-size: 2.8rem;
    --uib-speed: 0.9s;
    --uib-color: black;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    height: var(--uib-size);
    width: var(--uib-size);
  }

  .dot-spinner__dot {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    height: 100%;
    width: 100%;
  }

  .dot-spinner__dot::before {
    content: "";
    height: 20%;
    width: 20%;
    border-radius: 50%;
    background-color: var(--uib-color);
    transform: scale(0);
    opacity: 0.5;
    animation: pulse0112 calc(var(--uib-speed) * 1.111) ease-in-out infinite;
    box-shadow: 0 0 20px rgba(18, 31, 53, 0.3);
  }

  .dot-spinner__dot:nth-child(2) {
    transform: rotate(45deg);
  }

  .dot-spinner__dot:nth-child(2)::before {
    animation-delay: calc(var(--uib-speed) * -0.875);
  }

  .dot-spinner__dot:nth-child(3) {
    transform: rotate(90deg);
  }

  .dot-spinner__dot:nth-child(3)::before {
    animation-delay: calc(var(--uib-speed) * -0.75);
  }

  .dot-spinner__dot:nth-child(4) {
    transform: rotate(135deg);
  }

  .dot-spinner__dot:nth-child(4)::before {
    animation-delay: calc(var(--uib-speed) * -0.625);
  }

  .dot-spinner__dot:nth-child(5) {
    transform: rotate(180deg);
  }

  .dot-spinner__dot:nth-child(5)::before {
    animation-delay: calc(var(--uib-speed) * -0.5);
  }

  .dot-spinner__dot:nth-child(6) {
    transform: rotate(225deg);
  }

  .dot-spinner__dot:nth-child(6)::before {
    animation-delay: calc(var(--uib-speed) * -0.375);
  }

  .dot-spinner__dot:nth-child(7) {
    transform: rotate(270deg);
  }

  .dot-spinner__dot:nth-child(7)::before {
    animation-delay: calc(var(--uib-speed) * -0.25);
  }

  .dot-spinner__dot:nth-child(8) {
    transform: rotate(315deg);
  }

  .dot-spinner__dot:nth-child(8)::before {
    animation-delay: calc(var(--uib-speed) * -0.125);
  }

  @keyframes pulse0112 {
    0%,
    100% {
      transform: scale(0);
      opacity: 0.5;
    }

    50% {
      transform: scale(1);
      opacity: 1;
    }
  }
}

.circle-loader-wrapper {
  .loader {
    width: 44.8px;
    height: 44.8px;
    color: black;
    position: relative;
    background: radial-gradient(11.2px, currentColor 94%, #0000);
  }

  .loader:before {
    content: "";
    position: absolute;
    inset: 0;
    border-radius: 50%;
    background: radial-gradient(
          10.08px at bottom right,
          #0000 94%,
          currentColor
        )
        top left,
      radial-gradient(10.08px at bottom left, #0000 94%, currentColor) top right,
      radial-gradient(10.08px at top right, #0000 94%, currentColor) bottom left,
      radial-gradient(10.08px at top left, #0000 94%, currentColor) bottom right;
    background-size: 22.4px 22.4px;
    background-repeat: no-repeat;
    animation: loader 1.5s infinite cubic-bezier(0.3, 1, 0, 1);
  }

  @keyframes loader {
    33% {
      inset: -11.2px;
      transform: rotate(0deg);
    }

    66% {
      inset: -11.2px;
      transform: rotate(90deg);
    }

    100% {
      inset: 0;
      transform: rotate(90deg);
    }
  }
}

.stepper-loader-wrapper {
  .loader {
    position: relative;
    // font-size: 16px;
    width: 5.5em;
    height: 5.5em;
  }

  .loader:before {
    content: "";
    position: absolute;
    transform: translate(-50%, -50%) rotate(45deg);
    height: 100%;
    width: 4px;
    background: #fff;
    left: 50%;
    top: 50%;
  }

  .loader:after {
    content: "";
    position: absolute;
    left: 0.2em;
    bottom: 0.18em;
    width: 1em;
    height: 1em;
    background-color: orange;
    border-radius: 15%;
    animation: rollingRock 2.5s cubic-bezier(0.79, 0, 0.47, 0.97) infinite;
  }

  @keyframes rollingRock {
    0% {
      transform: translate(0, -1em) rotate(-45deg);
    }

    5% {
      transform: translate(0, -1em) rotate(-50deg);
    }

    20% {
      transform: translate(1em, -2em) rotate(47deg);
    }

    25% {
      transform: translate(1em, -2em) rotate(45deg);
    }

    30% {
      transform: translate(1em, -2em) rotate(40deg);
    }

    45% {
      transform: translate(2em, -3em) rotate(137deg);
    }

    50% {
      transform: translate(2em, -3em) rotate(135deg);
    }

    55% {
      transform: translate(2em, -3em) rotate(130deg);
    }

    70% {
      transform: translate(3em, -4em) rotate(217deg);
    }

    75% {
      transform: translate(3em, -4em) rotate(220deg);
    }

    100% {
      transform: translate(0, -1em) rotate(-225deg);
    }
  }
}

.square-bounce-loader-wrapper {
  .loader {
    width: 48px;
    height: 48px;
    margin: auto;
    position: relative;
  }

  .loader:before {
    content: "";
    width: 48px;
    height: 5px;
    background: #f0808050;
    position: absolute;
    top: 60px;
    left: 0;
    border-radius: 50%;
    animation: shadow324 0.5s linear infinite;
  }

  .loader:after {
    content: "";
    width: 100%;
    height: 100%;
    background: #f08080;
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 4px;
    animation: jump7456 0.5s linear infinite;
  }

  @keyframes jump7456 {
    15% {
      border-bottom-right-radius: 3px;
    }

    25% {
      transform: translateY(9px) rotate(22.5deg);
    }

    50% {
      transform: translateY(18px) scale(1, 0.9) rotate(45deg);
      border-bottom-right-radius: 40px;
    }

    75% {
      transform: translateY(9px) rotate(67.5deg);
    }

    100% {
      transform: translateY(0) rotate(90deg);
    }
  }

  @keyframes shadow324 {
    0%,
    100% {
      transform: scale(1, 1);
    }

    50% {
      transform: scale(1.2, 1);
    }
  }
}

.loader-card-wrapper {
  .loader-card {
    width: 170px;
    border-radius: 12px;
    box-shadow: 0px 0px 30px gray;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    transition-duration: 0.5s;
    border: 2px solid lightgray;
  }

  .profileImage {
    margin-top: 20px;
    background-color: transparent;
    width: 100px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .name {
    font-size: 0.9em;
    font-weight: 600;
    color: black;
    font-weight: bold;
    letter-spacing: 0.5px;
    margin-top: 20px;
    padding: 15px;
  }

  .profile {
    font-size: 0.84em;
    color: $primary-color;
    letter-spacing: 0.2px;
  }

  .card:hover {
    background-color: rgb(43, 43, 43);
    transition-duration: 0.5s;
  }
}
